---
import "@/styles/projects.css"
import RootLayout from "@/layout/RootLayout.astro"
import Navlink from "@/components/Navlink.astro"

let {title, currentProject} = Astro.props;
const path = Astro.url.pathname;
---

<RootLayout title={title}>
    <div class="project-page">
        <select name="project-pages" id="project-pages" class="mobile-select">
            <option value="">--select a project--</option>
            <optgroup label="Apps">
                <option value="/projects/blutape" selected={path === "/projects/blutape"}>bluTape</option>
                <option value="/projects/cerberus" selected={path === "/projects/cerberus"}>Cerberus</option>
                <option value="/projects/team-portal" selected={path === "/projects/team-portal"}>Team Portal</option>
                <option value="/projects/epcteams" selected={path === "/projects/epcteams"}>EPC Teams</option>
            </optgroup>
            <optgroup label="Static Sites">
                <option value="/projects/mattsappliances" selected={path === "/projects/mattsappliances"}>Matt's Appliances</option>
                <option value="/projects/ezrestoration" selected={path === "/projects/ezrestoration"}>EZ Restoration</option>
                <option value="/projects/airelisellc" selected={path === "/projects/airelisellc"}>Air Elise</option>
            </optgroup>
        </select>
        <div>
            <slot />
        </div>
        <aside class="projects-subheader">
            <div>
                <p>Apps</p>
                <Navlink href="/projects/blutape" currentPath={currentProject}>bluTape</Navlink>
                <Navlink href="/projects/cerberus" currentPath={currentProject}>Cerberus</Navlink>
                <Navlink href="/projects/team-portal" currentPath={currentProject}>Team Portal</Navlink>
                <Navlink href="/projects/epcteams" currentPath={currentProject}>EPC Teams</Navlink>
            </div>
            <div>
                <p>Static Sites</p>
                <Navlink href="/projects/mattsappliances" currentPath={currentProject}>Matt's Appliances</Navlink>
                <Navlink href="/projects/ezrestoration" currentPath={currentProject}>EZ Restoration</Navlink>
                <Navlink href="/projects/airelisellc" currentPath={currentProject}>Air Elise</Navlink>
            </div>
        </aside>
    </div>
</RootLayout>

<script>
    const select = document.getElementById('project-pages');
    select?.addEventListener('change', (e) => {
        const value = (e.target as HTMLSelectElement).value;
        if (value) {
            window.location.href = value;
        }
    });
</script>